<%# Web page for deducting an entry to a savings category %>
<% provide(:title, "Deduct Savings Entry") %>

<h2>Deduct Savings Entry</h2>

<% if flash[:alert] %>
  <div id="error_notice">
    <h3><%= flash[:alert] %></h3>
  </div>
<% end %>

<% if flash[:notice] %>
  <div id="success_notice">
    <h3><%= flash[:notice] %></h3>
  </div>
<% end %>

<div id="main_layout">

  <%= render "shared/menu" %>

  <div id="center_private_layout">

    <% if @account_names.index("No Accounts").nil? %>
      <% if !@category_names.empty? %>
        <%= form_for :entry, url: entries_deduct_path do |f| %>
          <span class="span_left_align">* Selected Savings Account:</span>
          <span class="span_right_align"><%= f.select :account_name, 
            options_for_select(@account_names, session[:account_name]), {}, onchange: "this.form.submit();" %>
          </span><br><br>
        
          <span class="span_left_align">* Selected Savings Category:</span>
          <span class="span_right_align"><%= f.select :category_name, 
            options_for_select(@category_names, session[:category_name]), {}, onchange: "this.form.submit();" %>
          </span><br><br>
  
          <%= render "shared/entry_date_selector", f: f %>
  
          <span class="span_left_align">Selected Category Balance:</span>
          <span class="span_right_align">
            $&nbsp<%= label_tag "category_balance", number_with_precision(@category_balance, precision: 2), class: "display_item" %>
          </span><br><br>
  
          <span class="span_left_align">* Deduction Amount:</span>
          <span class="span_right_align">
            $&nbsp<%= f.text_field :entry_amount, value: nil, onkeyup: "validateEntry()", class: "dollar_text_field" %>
          </span><br><br>
  
          <div id="bottom_layout">
            <span class="span_left_align">* - Required Entry</span>
            <span class="span_right_align"><%= f.submit "Submit", class: "button" %></span>
          </div>
        
        <% end %>
      <% end %>
    <% end %>

  </div>
</div>
