<% provide(:title, "Login") %>

<h2>User Login</h2>

<% if flash[:alert] %>
  <div id="error_notice">
    <h3><%= flash[:alert] %></h3>
  </div>
<% end %>

<% if flash[:notice] %>
  <div id="success_notice">
    <h3><%= flash[:notice] %></h3>
  </div>
<% end %>

<div id="main_layout">

  <%= form_tag(users_login_path) do -%>
    <div id="center_public_layout">
      Username:<br>
      <%= text_field_tag "username", nil, class: "text_field" %><br><br>
      Password:<br>
      <%= password_field_tag "password", nil, class: "text_field" %><br><br><br>
    </div>

    <div id="bottom_layout">
      <%= submit_tag "Login", class: "button" %>
      <button class="button" onclick="location.href='/users/registration'; return false;">Register</button>
    </div>
  <% end -%>
</div>
