<% provide(:title, "Registration") %>

<h2>New User Registration</h2>

<% if flash[:alert] %>
  <div id="error_notice">
    <h3><%= flash[:alert] %></h3>
  </div>
<% end %>

<div id="main_layout">

  <%= form_tag(users_registration_path) do -%>
    <div id="center_public_layout">
        New Username:<br>
        <%= text_field_tag :user_name, nil, class: "text_field" %><br><br>
        Password:<br>
        <%= password_field_tag :password, nil, class: "text_field" %><br><br>
        Confirm Password:<br>
        <%= password_field_tag :password_confirmation, nil, class: "text_field" %><br><br>
        Email Address:<br>
        <%= text_field_tag :user_email, nil, class: "text_field" %><br><br><br>
    </div>

    <div id="bottom_layout">
      <%= submit_tag "Submit", class: "button" %>
      <button class="button" onclick="location.href='/users/signin'; return false;">Cancel</button>
    </div>
  <% end -%>
</div>
