<%# Web page for user registration %>
<% provide(:title, "Registration") %>

<h2>New User Registration</h2>

<% if flash[:alert] %>
  <div id="error_notice">
    <h3><%= flash[:alert] %></h3>
  </div>
<% end %>

<div id="main_layout">

  <%= form_for :user, url: users_registration_path do |f| %>
    <div id="center_public_layout">
        New Username:<br>
        <%= f.text_field :user_name, value: nil, class: "text_field" %><br><br>
        Password:<br>
        <%= f.password_field :password, value: nil, class: "text_field" %><br><br>
        Confirm Password:<br>
        <%= f.password_field :password_confirmation, value: nil, class: "text_field" %><br><br>
        Email Address:<br>
        <%= f.text_field :user_email, value: nil, class: "text_field" %><br><br><br>
    </div>

    <div id="bottom_layout">
      <%= f.submit "Submit", class: "button" %>
      <button class="button" onclick="location.href='<%= users_signin_path%>'; return false;">Cancel</button>
    </div>
  <% end %>
</div>
