<% provide(:title, "Registration") %>

<h2>New User Registration</h2>

<% if flash[:alert] %>
  <div id="error_notice">
    <h3><%= flash[:alert] %></h3>
  </div>
<% end %>

<div id="main_layout">

  <%= form_tag("/users/registration") do -%>
    <div id="left_layout">
        New Username:<br>
        <%= text_field_tag :user_name %><br><br>
        Password:<br>
        <%= password_field_tag :password %><br><br>
        Confirm Password:<br>
        <%= password_field_tag :password_confirmation %><br><br>
        Email Address:<br>
        <%= text_field_tag :user_email %><br><br><br>
    </div>

    <div id="bottom_layout">
      <%= submit_tag "Submit", class: "button" %>
      <button class="button" onclick="location.href='/users/login'; return false;">Cancel</button>
    </div>
  <% end -%>
</div>
