<div id=left_menu>
  <nav>
    General:<br>
    <%= link_to "Welcome Page", users_welcome_path %><br><br>

    Savings Account:<br>
    <%= link_to "Create Account", accounts_create_path %><br><br>

    Savings Category:<br>
    <%= link_to "Create Category", categories_create_path %><br><br>

    Savings Entry:<br>
    <%= link_to "Add Entry", entries_add_path %><br>
    <%= link_to "Deduct Entry", entries_deduct_path %><br>
    <%= link_to "View Entries", entries_view_path %><br><br>

    <%= link_to "Sign Out", users_signin_url %><br>
  </nav>
</div>