<div id=left_menu>
  <nav>
    General:<br>
    <%= link_to "Welcome Page", "/users/welcome" %><br><br>
    Savings Account:<br>
    <%= link_to "Create Account", "/accounts/create" %><br><br>
    Savings Category:<br>
    <%= link_to "Create Category", "/categories/create" %><br><br>
    Savings Entry:<br>
    <%= link_to "Add Entry", "/entries/add" %><br>
    <%= link_to "View Entries", "/entries/view" %><br><br>
  </nav>
</div>