<% provide(:title, "Create Category") %>

<h2>Create Savings Category</h2>

<% if flash[:alert] %>
  <div id="error_notice">
    <h3><%= flash[:alert] %></h3>
  </div>
<% end %>

<% if flash[:notice] %>
  <div id="success_notice">
    <h3><%= flash[:notice] %></h3>
  </div>
<% end %>

<div id="main_layout">

  <%= render "shared/menu" %>

  <div id="center_private_layout">

    <%= form_tag("/categories/create") do -%>

      <span class="span_left_align">* Select Savings Account:</span>
      <span class="span_right_align"><%= select_tag "account_name", options_for_select(session[:account_names], session[:account_name]) %></span><br><br>

      <span class="span_left_align">* Category Name:</span>
      <span class="span_right_align"><%= text_field_tag "category_name", session[:category_name], class: "text_field" %></span><br><br>

      <span class="span_left_align">Dollar Goal Amount:</span>
      <span class="span_right_align"><%= text_field_tag "savings_goal", nil, class: "text_field" %></span><br><br>

      <span class="span_left_align">Goal Date:</span>
      <span class="span_right_align"><%= date_select :savings_goal_date, :date_components, 
        { start_year: Time.now.year, end_year: Time.now.year + 10, use_short_month: true, order: [:month, :day, :year],
          include_blank: true}, default: { :month => session[:savings_goal_month], :day => session[:savings_goal_day], 
          :year => session[:savings_goal_year] } %>
      </span><br><br>

      <div id="bottom_layout">
        <span class="span_left_align">* - Required Entry</span>
        <span class="span_right_align"><%= submit_tag "Submit", class: "button" %></span>
      </div>

    <% end -%>

  </div>

</div>