<%# Web page for savings category creation %>
<% provide(:title, "Create Category") %>

<h2>Create Savings Category</h2>

<% if flash[:alert] %>
  <div id="error_notice">
    <h3><%= flash[:alert] %></h3>
  </div>
<% end %>

<% if flash[:notice] %>
  <div id="success_notice">
    <h3><%= flash[:notice] %></h3>
  </div>
<% end %>

<div id="main_layout">

  <%= render "shared/menu" %>

  <div id="center_private_layout">

    <% if !@account_names.nil? %>
      <%= form_for :category, url: categories_create_path do |f| %>
  
        <span class="span_left_align">* Selected Savings Account:</span>
        <span class="span_right_align"><%= f.select :account_name, options_for_select(@account_names, session[:account_name]), 
                                                    {}, onchange: "this.form.submit();" %>
        </span><br><br>
  
        <span class="span_left_align">* Category Name:</span>
        <span class="span_right_align"><%= f.text_field :category_name, value: @category_name, class: "text_field" %></span><br><br>
  
        <span class="span_left_align">Dollar Goal Amount:</span>
        <span class="span_right_align">$<%= f.text_field :savings_goal, value: nil, class: "dollar_text_field" %></span><br><br>
  
        <span class="span_left_align">Goal Target Date:</span>
        <span class="span_right_align"><%= f.date_select :savings_goal_date,  
          { start_year: Time.now.year, end_year: Time.now.year + 10, use_short_month: true, 
            order: [:month, :day, :year], include_blank: true } %>
        </span><br><br>
  
        <div id="bottom_layout">
          <span class="span_left_align">* - Required Entry</span>
          <span class="span_right_align"><%= f.submit "Submit", class: "button" %></span>
        </div>
  
      <% end %>
    <% end %>

  </div>

</div>