<%# Web page for savings account creation %>
<% provide(:title, "Create Account") %>

<h2>Create Savings Account</h2>

<% if flash[:alert] %>
  <div id="error_notice">
    <h3><%= flash[:alert] %></h3>
  </div>
<% end %>

<% if flash[:notice] %>
  <div id="success_notice">
    <h3><%= flash[:notice] %></h3>
  </div>
<% end %>

<div id="main_layout">

  <%= render "shared/menu" %>

  <div id="center_private_layout">

    <%= form_for :account, url: accounts_create_path do |f| %>
      * Account Name:<br>
      <%= f.text_field :account_name, value: nil, class: "text_field" %><br><br>

      <div id="bottom_layout">
        <span class="span_left_align">* - Required Entry</span>
        <span class="span_right_align"><%= f.submit "Submit", class: "button" %></span>
      </div>
    <% end %>

  </div>
</div>